<div class="card {{type}} {{#if active}}active{{/if}}">
	{{#if active}}<div class="now">Up next:</div>{{/if}}
	<div class="travel-type">Travel: {{info/type}}</div>
	<div class="section departure">
		<div class="section-header">Departure</div>
		<div><i class="glyphicon glyphicon-time"></i> {{info/depart/time}}</div>
		<div><span class="icon icon-location"></span> {{info/depart/location}}</div>
		{{#if info/depart/description }} <div class="description">{{info/depart/description}}</div> {{/if}}
	</div>
	<div class="section arrival">
		<div class="section-header">Arrival</div>
		<div><i class="glyphicon glyphicon-time"></i> {{info/arrive/time}}</div>
		<div><span class="icon icon-location"></span> {{info/arrive/location}}</div>
		{{#if info/arrival/description }} <div class="description">{{info/arrival/description}}</div> {{/if}}
	</div>
</div>